<div class='row'>

  <div class='col-sm-1'>
  </div>

  <div class='col-sm-5 contacts'>

    <% if @pranav.has_email_address? %>
      <%= render 'pranavs/contact_details',
        link: @pranav.email_link,
        image: 'social_media/email_2',
        contact: @pranav.email_address %>
    <% end %>

    <% if @pranav.has_telephone_number? %>
      <%= render 'pranavs/contact_details',
        link: @pranav.telephone_link,
        image: 'social_media/telephone_2',
        contact: @pranav.telephone_number %>
    <% end %>

    <% if @pranav.has_twitter_url? %>
      <%= render 'pranavs/contact_details',
        link: @pranav.twitter_link,
        image: 'social_media/twitter_2',
        contact: @pranav.twitter_url %>
    <% end %>

    <% if @pranav.has_facebook_url? %>
      <%= render 'pranavs/contact_details',
        link: @pranav.facebook_link,
        image: 'social_media/facebook_2',
        contact: @pranav.facebook_url %>
    <% end %>

  </div>

  <div class='col-sm-5 hidden-sm-down'>
    <img id='contact_image' src="<%= @photo_url %>">
  </div>

  <div class='col-sm-1'>
  </div>

</div>

<style>
  body { overflow-y: hidden }
</style>
