<div class='row'>

  <div class='col-sm-1'>
  </div>

  <div class='col-sm-5 contacts'>

    <% if @pranav.has_email_address? %>
      <a href='<%="mailto:#{@pranav.email_address}?Subject=Kathak%20lessons"%>'>
        <p class='d-flex justify-content-start'>
          <span><img src='social_media/email_2.png' class='img-fluid contact'></span>
          <span class='contact_text'>
            <%= @pranav.email_address %>
          </span>
        </p>
      </a>
    <% end %>

    <% if @pranav.has_telephone_number? %>
      <a href='<%="tel:#{@pranav.telephone_number}"%>'>
        <p class='d-flex justify-content-start'>
          <span><img src='social_media/phone_2.png' class='img-fluid contact'></span>
          <span class='contact_text'>
            <%= @pranav.telephone_number %>
          </span>
        </p>
      </a>
    <% end %>

    <% if @pranav.has_twitter_url? %>
      <a href='<%="https://www.twitter.com/#{@pranav.twitter_url}"%>' target='_blank'>
        <p class='d-flex justify-content-start'>
          <span><img src='social_media/twitter_2.png' class='img-fluid contact'></span>
          <span class='contact_text'>
            <%= @pranav.twitter_url %>
          </span>
        </p>
      </a>
    <% end %>

    <% if @pranav.has_facebook_url? %>
      <a href='<%="https://www.facebook.com/#{@pranav.facebook_url}"%>' target='_blank'>
        <p class='d-flex justify-content-start'>
          <span><img src='social_media/facebook_2.png' class='img-fluid contact'></span>
          <span class='contact_text'>
            <%= @pranav.facebook_url %>
          </span>
        </p>
      </a>
    <% end %>

  </div>

  <div class='col-sm-5 hidden-sm-down'>
    <img id='contact_image' src="<%= @photo_url %>">
  </div>

  <div class='col-sm-1'>
  </div>

</div>
