<div class='text-center class_info'>

  <p>
    <span class='class_level'>
      <%= lesson.what %>
    </span>
  </p>

  <p>
    Where:
    <%= lesson.where %>
  </p>

  <p>
    When:
    <% if admin_signed_in? && lesson.end_time.present? %>
      <%= lesson.full_when %>
    <% else %>
      <%= lesson.when %>
    <% end %>
  </p>

  <% if lesson.has_freetext? %>
    <p>
      <div class='row'>
        <div class='col-sm-2'></div>
        <div class='col-sm-8 class_freetext'><%= lesson.freetext %></div>
        <div class='col-sm-2'></div>
      </div>
    </p>
  <% end %>

  <% if admin_signed_in? && lesson.run_time.present?  %>
      <p>
        <%= lesson.run_time %>
      </p>
  <% end %>

  <p>
    <%= link_to 'Contact Pranav', '/contact', class: 'contact_pranav' %>
  </p>

  <% if admin_signed_in? %>

    <%= button_to 'edit', edit_lesson_path(lesson), method: :get, class: 'admin_button' %>

    <br>

    <%= button_to 'delete', "/lessons/#{lesson.id}", method: :delete, class: 'admin_button' %>

  <% end %>

</div>
