<div class='text-center class_info'>

  <p class='class_level'>
    <%= lesson.what %>
  </p>

  <p>
    Where:
    <%= lesson.where %>
  </p>

  <p>
    When:
    <%= lesson.when %>
  </p>

  <% if lesson.has_freetext? %>

    <p>

      <div class='row'>
        <div class='col-sm-2'></div>
        <div class='col-sm-8 class_freetext'><%= lesson.freetext %></div>
        <div class='col-sm-2'></div>
      </div>

    </p>

  <% end %>

  <p>
    <%= link_to 'Contact Pranav', '/contact', class: 'more-information' %> for more information.
  </p>

  <% if admin_signed_in? %>

    <%= button_to 'edit', edit_lesson_path(lesson), method: :get, class: 'admin_button' %>

    <br>

    <%= button_to 'delete', "/lessons/#{lesson.id}", method: :delete, class: 'admin_button' %>

  <% end %>

</div>
