<div id='photo_<%= photo.id %>_frame'>

  <div class='gallery_frame' >

    <div class='row'>
      <div class='col-sm-2'></div>
      <div class='col-sm-8'>
        <%= link_to image_tag(photo.international_url, :class => 'gallery_image'), photo.international_url, target: '_blank' %>
      </div>
      <div class='col-sm-2'></div>
    </div>

    <% if admin_signed_in? %>

      <br>

      <div class='row'>

        <div class='col-sm-2'></div>

        <div class='col-sm-2'>
          <%= button_to 'delete', "/photos/#{photo.id}", method: :delete, class: 'admin_button gallery_delete_button' %>
        </div>

        <div class='col-sm-2'>
          <%= button_to 'hide', "/photos/#{photo.id}", method: :patch, params: {photo: {hidden: photo.shown}}, class: hide_photo_button_class(photo), remote: true %>
        </div>

      </div>

      <br>

      <div class='row'>
        <div class='col-sm-2'></div>
        <div class='col-sm-4'>Make this the photo for:</div>
      </div>

      <br>

      <div class='row'>

        <div class='col-sm-2'></div>

        <div class='col-sm-8'>

          <div class='d-flex justify-content-between'>

            <% @photo_placers.each do |photo_placer| %>
              <%= button_to photo_placer.place, "/photo_placers/#{photo_placer.id}", method: :patch, params: {photo_id: photo.id}, :class => photo_placer_button_class(photo_placer, photo) %>
            <% end %>

          </div>

        </div>

      </div>

    <% end %>

  </div>

</div>
