<div class='admin_form'>

  <%= form_for(@photo, multipart: true) do |f| %>

    <% if @photo.errors.any? %>
      <% @photo.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    <% end %>

    <div class='form-group'>
      <%= f.label :caption, 'caption' %>
      <%= f.text_field :caption, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :image, 'image' %>
      <%= f.file_field :image, class: 'form-control' %>
    </div>

    <%= f.submit 'upload', class: 'btn btn-primary admin_button' %>
  <% end %>
</div>
