<!DOCTYPE html>
<html>
  <head>
    <title>PranavYajnik</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    <header>
      <p id='page-links'>
        <%= link_to 'home', root_path %>
         | <%= link_to 'about pranav', about_pranav_path %>
         | <%= link_to 'about kathak', about_kathak_path %>
         | <%= link_to 'gallery', gallery_path %>
         | <%= link_to 'contact', contact_path %>
      </p>
      <p id='logo'>pranav yajnik</p>    
    </header>
    <%= yield %>
    <footer>
      © 2017-2018 Pranav Yajnik. All rights reserved.
    </footer>
  </body>
</html>
