<!DOCTYPE html>
<html>
  <head>

    <title>PranavYajnik</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js' integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1' crossorigin='anonymous'></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ' crossorigin='anonymous'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>

  </head>

  <body>

    <div class='container'>

      <nav class='navbar navbar-toggleable-md fixed-top'>

        <button class='navbar-toggler navbar-toggler-right' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
          <img id='menu_icon' src='menu_2.png'>
        </button>

        <a class='navbar-brand' href='/'>pranav yajnik</a>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
          <ul class='navbar-nav ml-auto'>
            <li class='nav-item'>
              <a class='nav-link' href='/'>home</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/about_pranav'>about pranav</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/gallery'>gallery</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/lessons'>lessons</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/contact'>contact</a>
            </li>

          </ul>
        </div>
      </nav>

      <% if admin_signed_in? %>

        <div class='row admin_links container-fluid fixed-top'>
          <div class='col-sm-2'><%= button_to 'add photo', new_photo_path, :class => 'admin_button', :method => :get %></div>
          <div class='col-sm-2'><%= button_to 'add video', new_video_path, :class => 'admin_button', :method => :get %></div>
          <div class='col-sm-2'><%= button_to 'add lesson', new_lesson_path, :class => 'admin_button', :method => :get %></div>
          <div class='col-sm-2'><%= button_to 'edit pranav', edit_pranav_path(1), :class => 'admin_button', :method => :get %></div>
          <div class='col-sm-2'></div>
          <div class='col-sm-2'><%= button_to 'log out admin', destroy_admin_session_path, :class => 'admin_button', :method => :delete %></div>
        </div>

      <% end %>

      <%= yield %>

      <div class='fixed-bottom d-flex justify-content-end' id='footer'>
        <span class='mr-auto'>© Pranav Yajnik. All rights reserved.</span>
        <% if @pranav.has_facebook_url? %>
          <span class ='hidden-sm-down'><a href='<%="https://www.facebook.com/#{@pranav.facebook_url}"%>' target='_blank'><img src='social_media/facebook.png' class='img-fluid icon'></a></span>
        <% end %>
        <% if @pranav.has_twitter_url? %>
          <span class ='hidden-sm-down'><a href='<%="https://www.twitter.com/#{@pranav.twitter_url}"%>' target='_blank'><img src='social_media/twitter.png' class='img-fluid icon'></a></span>
        <% end %>
        <% if @pranav.has_telephone_number? %>
        <span class ='hidden-sm-down'><a href='<%="tel:#{@pranav.telephone_number}"%>'><img src='social_media/phone.png' class='img-fluid icon'></a></span>
        <% end %>
        <% if @pranav.has_email_address? %>
          <span class ='hidden-sm-down'><a href='<%="mailto:#{@pranav.email_address}?Subject=Kathak%20lessons"%>'><img src='social_media/email.png' class='img-fluid icon'></a></span>
        <% end %>
      </div>

    </div>
  </body>
</html>
